/* -- font-family: 'Montserrat', sans-serif;
 font-family: 'Shadows Into Light Two', cursive; --*/
 
/*-- CSS FOR NAV BAR --*/

.navbar {
    background-color: #00c5e8;
    width: 100vw;
}

.logo {
    max-width: 200px;
    max-height: 200px;
}

.nav-link {/*-- increases font size of nav items and spaces them --*/
    font-size: 20px;
    margin-left: 60px;
    text-decoration: none;
    color:white;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
}

.nav-link:hover{ /*-- changes hover color --*/
    color:#001f38;
}


.NavButton {/*-- Changes color of fa-lines and increases size. --*/
    font-size: 30px;
    color:white
}