/* -- font-family: 'Montserrat', sans-serif;
 font-family: 'Shadows Into Light Two', cursive; --*/
 
/*-- CSS FOR NAV BAR --*/

.navbar {
    background-color: #00c5e8;
}

.logo {
    max-width: 200px;
    max-height: 200px;
}

.navigation {
    margin-left: 500px;
}

.nav-link {/*-- increases font size of nav items and spaces them --*/
    font-size: 20px;
    margin-left: 60px;
    text-decoration: none;
    color:white;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
}

.nav-link:hover{ /*-- changes hover color --*/
    color:#001f38;
}


.NavButton {/*-- Changes color of fa-lines and increases size. --*/
    font-size: 30px;
    color:white
}

@media only screen and (max-width: 1024px) { /*-- IPAD PRO --*/
    .navigation {
        margin-left: 60px;
    }
}

@media only screen and (max-width: 768px) { /*-- IPAD AND SMALLER --*/
     .navigation {
        margin-left: 150px;
    }

    .nav-link { /*-- increases font size of nav items and spaces them --*/
    font-size: 15px;
    margin-left: 10px;
    text-decoration: none;
    color:white;
    font-family: 'Montserrat', sans-serif;
    }

    .logo {
    max-width: 120px;
    max-height: 120px;
    }
.NavButton {/*-- Changes color of fa-lines and increases size. --*/
    font-size: 20px;
    color:white
    }
}



