/* -- font-family: 'Montserrat', sans-serif;
 font-family: 'Shadows Into Light Two', cursive; --*/
 
/*-- CSS FOR NAV BAR --*/
body {
    width:100vw;
}
.navbar {
    background-color: #00c5e8;
    width: 100vw;
}

.logo {
    max-width: 200px;
    max-height: 200px;
}

.nav-link {/*-- increases font size of nav items and spaces them --*/
    font-size: 20px;
    margin-left: 60px;
    text-decoration: none;
    color:white;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
}

.nav-link:hover{ /*-- changes hover color --*/
    color:#001f38;
}


.NavButton {/*-- Changes color of fa-lines and increases size. --*/
    font-size: 30px;
    color:white
}

.dropdown-menu { /*-- removes border and background  for dropdown menu list --*/
    background: none;
    border: none;
}

.dropdown-item { /*-- changes link items for the dropdown list  --*/
    color: white;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    background-color: #00c5e8;
}

/*-- for medium and small screens! --*/
@media only screen and (max-width: 768px) {
    .logo {
    max-width: 120px;
    max-height: 120px;
}
.NavButton {/*-- Changes color of fa-lines and increases size. --*/
    font-size: 20px;
    color:white
}
.nav-link {/*-- increases font size of nav items and spaces them --*/
    font-size: 12px;
    margin-left: 60px;
    text-decoration: none;
    color:white;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
}

.nav-link:hover{ /*-- changes hover color --*/
    color:#001f38;
}
.dropdown-item { /*-- changes link items for the dropdown list  --*/
    color: white;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    background-color: #00c5e8;
}
}

/*-- PICTURE FOR LARGE SCREENS --*/
.LargeScreenPicture { /*-- Picture of girls knelt will show on larger screens --*/
    width: 100vw;
    height: 90vh;
    position: relative;
}

.hero-image{
    position: relative;
}

/*-- SLOGAN FOR LARGE SCREENS --*/
.slogan{
    position: absolute;
    top: 100px;
    left: 50px;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color:white;
    text-align: left;
    width: 500px;
}

.TrainWithUs{
    background-color: #00c5e8;
    color: white;
    border: 2px #001f38 solid; 
    border-radius: 10px;
    font-size: 25px;
    padding: 10px;
    margin-right: 100px;
    
}
/*-- SMALL PICTURE ON LARGE SCREENS  --*/
.SmallScreenPicture {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: none; /*-- Hides the images on ipad pro and bigger --*/
}

/*-- for medium and small screens! --*/
@media only screen and (max-width: 768px) {
    .SmallScreenPicture {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: block; /*-- Shows the small screen image on smaller screens --*/
}
.LargeScreenPicture {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: none; /*-- hides the kneeling image on smaller screens --*/
}
/*-- SLOGAN FOR LARGE SCREENS --*/
.slogan{
    position: absolute;
    top: 15px;
    left: 5px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color:white;
    text-align: left;
    width: 400px;
}

.TrainWithUs{
    background-color: #00c5e8;
    color: white;
    border: 2px #001f38 solid; 
    border-radius: 10px;
    font-size: 12px;
    padding: 5px;
    
}
}

/*-- TOGETHER WE ARE BETTER TOGETHER SECTION --*/
.sectionRow{
    margin-right: 0px;
    margin-left: 0px;
}
.sectionCol{
    border: 15px solid white;
    background-color: whitesmoke;
    padding: 25px;
}
.together {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: #001f38;
}

.bluelogo {
    max-width: 150px;
    max-height: 150px;
}

.sectionCol2{
    border: 15px solid white;
    background-color: whitesmoke;
    padding: 25px;
}

ul{
    list-style: none;
}

.listItem:before {
    content: "\2713";
}

