{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="row container-fluid sectionRow">
    <p class="workoutWith">
        WORK OUT WITH <span class="sam">SAM</span>
    </p>
    <p class="AboutPara">
        My aim as a personal trainer is to teach you how to achieve your goals, and
        how to maintain them in order to fulfil a balanced lifestyle.
        I will help you understand the purpose of training and calorie intake which will give you
        more of an understanding while achieving your goal. I want you to find training enjoyable and be sustainable.
        A healthy lifestyle can become a part of your daily life, which works well between balancing other important
        tasks
        in your life; discovering your HAPPINESS IN FITNESS!
    </p>
</div>
<div class="row container-fluid sectionRow">
    <div class="col-sm-6 samRow">
        <img src="{{ MEDIA_URL}}sam 2.jpg" alt="Personal Trainer Sam Ridley" class="samPhoto">
    </div>
    <div class="col-sm-6 EnjoyWithMe">
        <p class="EnjoyWithMeTitle">Enjoy With Me:</p>
        <ul>
            <li class="samListItem">
                HIIT
            </li>
            <li class="samListItem">
                BOOTY WORKOUTS
            </li>
            <li class="samListItem">
                AB BLASTS
            </li>
            <li class="samListItem">
                UPPER BODY
            </li>
            <li class="samListItem">
                LISS
            </li>
            <li class="samListItem">
                CARDIO
            </li>
            <li class="samListItem">
                STRETCH
            </li>
            <li class="samListItem">
                CIRCUIT TRAINING
            </li>
        </ul>
        <div class="row">
            <button class="TrainWithSam">TRAIN WITH SAM</button>
        </div>
    </div>
</div>

{% endblock %}